body{

	background-color: : black;
	/*height: 100%;*/

}

header {
	background-image: url(img/squares.svg); 
	background-size: cover;


}

header h1{
	padding-top: 8%;
	padding-bottom: 5%;
	text-transform: uppercase;
	font-family: Impact, Charcoal, sans-serif;
}



nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  font-family: Impact, Charcoal, sans-serif;
}

li {
  float: left; 
  text-align:center;
  list-style-type: none;
}

.nav_element {
   width: 25%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li>a{
	color: black;
	text-align: center;
	float: left;
}

.list {
	display: flex;
	justify-content: space-between;
	font-size: small;
} 

button{
	color: white;
	padding: 14px 40px;
	color: black;
	border: 2px solid black;
	font-size: 16px;

}

.video{
	float: right;
	margin-top: 15%; 
	padding:;
	width: 50%;
	height: 50%;
	}


.grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
}

.grid1_4{
	display: grid;
	background-color: black;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 1em;
	color: white;
	font-family: Impact, Charcoal, sans-serif;
}
 h1{
 	grid-column: 1 / -1;
 	text-transform: uppercase;

}






.boxed {
	display: inline-block;
	width: 90%;
  border: 1px solid black ;
  box-shadow: 5px 10px;
    margin: 3%;
    padding-right: 4%;
    padding-left: 4%;
    padding-bottom: 2%; 
}

h1{
 	grid-column: 1 / -1;
 	text-transform: uppercase;

}


.grid2_4{
	display: grid;
	background-color: black;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 1em;
	color: white;
	font-family: Impact, Charcoal, sans-serif;
}


.column {
	display: inline-block;
	font-family: Impact, Charcoal, sans-serif;


}

.grid1_3{
	display: grid;
	background-color: black;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1em;
	color: white;
	margin-top: 10%;
	padding-top:2%;
	padding-bottom:4%;
	padding-right: 4%;
	padding-left: 4%;
	
}



}

@media all and (max-width: 800px){
	nav {
		display: inline-block;
		float: none;

	}

.mobile {
	display: block;
}
.desktop {
	display: none;
	}
}

 * {
    box-sizing: border-box;
}


.logo {
	width: 10%;
	display: inline-block;
	-webkit-filter: grayscale(100%);
  filter: grayscale(100%);

}

